body {
	font-family: Arial;
    margin: 0;
    /* This fixes mobile touchscreen drag problem */    
    touch-action: none;
}


.label {
    color: #FFF;
    font-family: sans-serif;
    font-size: 0.8em;
    background: rgba( 0, 0, 0, .5 );
}

#info {
    color: #ff0;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	text-align: center;
	
	z-index: 1; /* TODO Solve this in HTML */
}

#copyright {
	margin-left: 1em;
	position: absolute;
	text-align: left;
	color: ghostwhite;
}

#Back_to_Website {
	font-size: 1em;
}

#Back_to_Website:hover {
	font-size: 1em;
	font-size: 1.2em;
}

a:link {
    color: lightblue;
}

a:visited {
    color: lightgreen;
}
a:hover {
    color: violet;
}

a:active {
    color: white;
}